
.main {
    width: 100%;
    min-height: 85vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;

}
